@media print {
    @page {
        size:  auto;
        margin: 0mm;
    }

    .noprint {display:none;}

    * {
        color: black;
    }

    .circle {
        width: 40px !important;
        height: 40px !important;
        margin: 5px !important;
        border: 2px solid !important;
        font-weight: bold !important;
    }
}

.navbar {
    background-color: #419df9;
}

.navbar-nav .show > .nav-link, .nav-link:focus, .nav-link:hover, .nav-link, .navbar-brand {
    color: whitesmoke !important;
    font-weight: bold;
}
